<!DOCTYPE html>
<html>
    <head>
        <title>Tararira</title>
    </head>
    <body  style="font-size:14px">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="background-color:#076378; text-align:center; color:white; height:50px; font-size:24px; vertical-align:middle; border-radius:10px">
                        <span style="line-height:50px; display:inline">invertir.&#8203;la</span>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                    Hola <%= @user.first_name %>,
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    Primero queremos agradecerte por elegir <span style="color:#076378">invertir.&#8203;la</span> como tu plataforma de inversi&oacute;n.
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    No nos gustan los papeles, pero para que puedas comenzar a invertir debes seguir los siguientes pasos:
                </div>
            </div>

            <table style="width:100%; margin-top:20px">
                <tr>
                    <td style="width:120px">
                        <%= image_tag "bullet1.png", style: "margin:0 auto;display:block" %>
                    </td>
                    <td>
                        Imprim&iacute; el formulario que te enviamos adjunto en este email.
                    </td>
                </tr>
                <tr>
                    <td style="width:120px">
                        <%= image_tag "bullet2.png", style: "margin:0 auto;display:block" %>
                    </td>
                    <td>
                        Cheque&aacute; que los datos sean correctos y firm&aacute; todas las hojas.
                    </td>
                </tr>
                <tr>
                    <td style="width:120px">
                        <%= image_tag "bullet3.png", style: "margin:0 auto;display:block" %>
                    </td>
                    <td>
                        <table style="width:100%; padding-top:50px">
                            <tr>
                                <td>
                                    Coloc&aacute; en un sobre:
                                </td>
                            </tr>
                            <tr style="padding-top:20px">
                                <td>
                                    -&nbsp;&nbsp;<span style="margin-left:10px">El formulario firmado</span>
                                </td>
                            </tr>
                            <tr style="padding-top:10px">
                                <td>
                                    -&nbsp;&nbsp;<span style="margin-left:10px">Fotocopia de tu DNI</span>
                                </td>
                            </tr>
                            <tr style="padding-top:10px">
                                <td>
                                    -&nbsp;&nbsp;<span style="margin-left:10px">Comprobante de ingresos (recibo de sueldo o constancia de monotributo)</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr>
                    <td style="width:120px">
                        <%= image_tag "bullet4.png", style: "margin:0 auto;display:block" %>
                    </td>
                    <td style="padding-top:30px">
                        <table style="width:100%">
                            <tr>
                                <td>
                                    Envialo por cualquier correo postal a:
                                </td>
                            </tr>
                            <tr style="padding-top:20px">
                                <td>
                                    <table style="border:1px solid; border-radius:5px; width:220px; padding:5px 5px 5px 5px">
                                        <tr>
                                            <td>
                                                Invertir.la
                                            </td>
                                        </tr>
                                        <tr style="margin-top:10px">
                                            <td>
                                                Av. Del Libertador 5643 Of.1
                                            </td>
                                        </tr>
                                        <tr style="margin-top:10px">
                                            <td>
                                                (1425) CABA
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <div class="row" style="margin-top:40px">
                <div class="col-md-12">
                    Record&aacute; que siempre pod&eacute;s comunicarte con nosotros desde el &iacute;cono que aparece en la esquina superior derecha de la app.
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <%= image_tag "showmessagebutton.png", style: "margin:0 auto;display:block" %>
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    ¡Saludos!
                </div>
            </div>
            <div class="row" style="margin-top:10px">
                <div class="col-md-12" style="color:#076378">
                    Equipo de invertir.&#8203;la
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="col-md-12">
                    <div style="background-color:#f2f2f2; font-size:12px; padding:10px 10px 10px 10px;">
                        AVISO LEGAL: Lorem ipsum dolor sit amet, has et mollis apeirian adipisci, te oporteat corrumpit mei, eos probo graeci nemore ad. Cum at nibh causae moderatius. Facilis urbanitas in est. Sed ex cibo iuvaret delectus, solum expetenda scribentur cu eum. Mei id ferri luptatum consetetur, est ei facer quando persecuti.
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
