<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			Reset Password for <%= @user.email %>
		</div>
	</div>
	<%= form_tag("/users/reset_password", method: "post") do %>
	
		<%= hidden_field_tag :uid, @uid %>
		<%= hidden_field_tag :token, @token %>
	
		<div class="row">
			<div class="col-md-12 text-center">
				<%= password_field_tag :password %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<%= password_field_tag :password_confirmation %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<%= submit_tag "Change" %>
			</div>
		</div>
	<% end %>
</div>